---
# file: roles/sqlite/tasks/main.yml
- name: Install SQLite package
  apt:
    name: 
      - sqlite3
      - sqlite3-doc
    state: present

- name: Copy the sqlite initialization script
  ansible.builtin.template:
    src: templates/etc_sqlite3_sqlite.init.sql.j2
    dest: /etc/sqlite3/sqlite_init.sql
    owner: root
    group: root
    mode: '0700'

- name: Initialize SQLite database
  command: sqlite3 /var/lib/sqlite/mydatabase.db < /etc/sqlite3/sqlite_init.sql

- name: Uninstall SQLite package
  apt:
    name: 
      - sqlite3
      - sqlite3-doc
    state: absent
  tags:
    - never # never run this by default
    - cleanup
    - sqlite
  when:
    - "'cleanup' in ansible_run_tags"
    - "'sqlite' in ansible_run_tags"
