# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
myvenv/
venv/
.env/
.env

# Tracing logs
trace.txt
trace.txt*
plots/
logs/

# Specific files
lang-graph/callgraph.txt
lang-graph/sqlite3.c
